.carousel .item,
.carousel img {
    height: 768px !important;
    width: 1024px !important;

}
.carousel .item{

    left : calc((100% - 1024px) / 2) !important;
}
.carousel {
    text-align: center !important;
}

.carousel-indicators li {
    border: 1px solid #838383;
    background-color: #dbdbdb;
}

.carousel .word1,
.carousel .word2,
.carousel .word3,
.carousel .word4,
.carousel .word5,
.carousel .word6,
.carousel .word7,
.carousel .word8,
.carousel .word9,
.carousel .word10,
.carousel .word11,
.carousel .word12{
    position: absolute;
}


.carousel .word1 {
    top: 350px;
    left : calc(100% - 500px)
}
.carousel .word2 {
    top: 350px;
    width: 600px;
}
.carousel .word3 {
    top: 350px;
    width: 580px;
}
.carousel .word4 {
    top: 300px;
    left : calc(100% - 550px)
}
.carousel .word5 {
    top: 400px;
    width : 600px
}
.carousel .word6 {
     top: 350px;
    width : 600px
 }
.carousel .word7 {
    top: 350px;
    left: 50px;
    width : 550px
}
.carousel .word8 {
    top: 300px;
    width : 600px
}
.carousel .word9 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    top: 200px;
    width : 600px
}
.carousel .word10 {
    top: 150px;
    left : calc(100% - 500px)
}
.carousel .word11 {
    top: 200px;
    width: 600px;
}
.carousel .word12 {
    top: 350px;
    left : calc(100% - 500px)
}
