
.sort-algo {
    background-color: rgba(76,114,155, .1);
    position: relative;
    margin: auto;
}

.item {
    background-color: rgb(141, 138, 169);
    position: absolute;
    bottom: 40px;
    border-top: 10px solid rgb(162, 180, 220);
    animation-duration: 1s;
}

.item.highlight {
    background-color: rgb(277,187,213) !important;
}
.swap {
    background-color: #e36d82 !important;
}

.gist-file {
    width: 700px;
    margin: auto;
}
.container {
    text-align: center;
    width: 900px;
    margin: auto;
}

hr {
    background-color: rgba(128, 128, 128, 0.4); height: 1px; border: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}